@font-face {
  font-family: "vcr";
  src: url("webfont.ttf") format("truetype");
}
:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #d30102;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
  /* FI Colors */
  --fi-blue: #384ca2;
  --fi-grey: #807f84;
  --fi-teal: #00839b;
  --fi-green: #4c9d2f;
  --fi-yellow: #f6cf3f;
  --fi-brown: #903f2c;
  --fi-orange: #f28b00;
  --fi-purple: #805d8b;
  --fi-lilac: #b96ac9;
}
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  line-height: 1.4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gibson", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #eee8d5;
}
.body {
  display: flex;
  max-height: 98vh;
  width: 100vw;
  padding: 2vw;
  flex-direction: column;
}
.heading {
  /* font-family: "Poller One", cursive; */
  /* font-style: italic; */
  font-family: "vcr", monospace;
  font-weight: 700;
}
.alert {
  color: var(--yellow);
}
.chart-container {
  background: #eee;
  max-height: 90vh;
  margin: 20px;
}
