.body {
  // display: flex;
  // flex-direction: column;
  // height: 100vh;
  // overflow: hidden;
  background-color: $bg;
}
.wrapper > * {
  padding: $outer-margin;
}

.chart-container-group {
  margin: 20px;
  background: $white;
}

.chart-container {
  background: $white;
  max-height: 90vh;
  margin: 20px;
  padding: 5px;
  border: solid black 4px;
}

.chart-container-sm {
  background: $white;
  margin: 0;
  padding: 5px;
  border: solid black 4px;
}

.main-container {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.main-container > .row {
  // max-height: 33vh;
}
