/* Table
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 1.5em;
  width: 100%;
  background-color: $bg;
}

th,
td {
  border-bottom: 1px solid $border0 !important;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  text-align: left;
  vertical-align: top;

  a {
    color: $base3;
    text-decoration: underline;
    padding-bottom: 1px;
    margin: 0.5 0;
    border-bottom: none;
  }
}
